include LICENSE
include README.md

recursive-include tests *
recursive-include ipbs/static *
recursive-include ipbs/data *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat